# This variable sets port for communicating
PORT=

# This variable sets max number of messages in a chat
MAX_CHAT_SIZE=

# This variable sets max number of chats in total
MAX_CHATS_NUM=

# This variable sets environment's value
ENV=